<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" {{bindAttr href="view.href" }}>
    {{view.header}}
  </a>
</div>
<div {{bindAttr id='view.idField' }} class="accordion-body collapse in">
  <div class="accordion-inner">
    {{view.body}}
  </div>
</div>
