<h3>Index</h3>
{{view App.TextField valueBinding='controller.searchTerm'}}
{{outlet}}
{{controller.searchTerm }}
<ul class="media-list">
  {{#each item in controller}}
    {{partial "books/book" }}
  {{/each}}
</ul>