<h4>Google Book Search</h4>
{{view App.TextField valueBinding='controller.searchTerm'}}
{{outlet}}
{{!controller.searchTerm }}
<hr>
{{view App.AccordionView optionTitlePath="content.title"}}
{{!view App.BookCollectionView}}