<li class="media">
  <a class='pull-left' href="">
    <img class='media-object' {{bindAttr src='item.thumbLink' }}>
  </a>
  <div class='media-body'>
    <div class='well'>
      <h6 class='media-heading'>{{item.title}} by {{item.author}}</h4>
      <div class='media'>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
  <hr>
</li>
